body,ul,ol,p,h1,h2,h3,h4,h5,h6{
    padding:0;
    margin:0;
}

.container-fluid{
    background:darkgray;
}
.card{
    margin-bottom:5px;
}
.countryCard{
    height:450px;
    margin:0;
    overflow:hidden;
    position: relative;

}
.countryCard img{
    width:100%;
    height:100%;
    width:20rem;
    height:12rem;
    object-fit:cover;
    margin-left:50px;
    margin-top:40px;
    margin-bottom:30px;
    display:block;
}
.counrtyCard figcaption{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    
}
.countryData{
    margin:0;
}

